* {
  margin: 0;
  padding: 0;
}

body,
html {
  /* height: 100vh; */
  width: 100%;
  position: relative;
}

.section__hero-canvas-container {
  height: 5000px;
}

.section__hero {
  height: 500vh;
  min-height: 5000px;
  max-height: 10000px;
  width: 100%;
  max-width: calc((1600px - 5vw) + 50px);
  margin: 0 auto;
}

.section__hero-scroll-content-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  min-height: 750px;
  width: 100%;
  max-width: calc((1600px - 5vw) + 50px);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, minmax(calc(8.33333% - 5px), 1fr));
  grid-template-rows: repeat(12, minmax(calc(8.33333% - 5px), 1fr));
  gap: 5px;
}

.section__hero-canvas-container {
  grid-row: 1/13;
  grid-column: 1/13;
  justify-self: center;
  align-self: center;
  display: -ms-grid;
  display: grid;
  height: calc(100vh);
  min-height: 750px;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  opacity: 1;
  transition: opacity linear 250ms;
}

.section__hero-canvas {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section__hero-main-content-container {
  position: relative;
  height: 100vh;
  min-height: 750px;
  width: 100%;
  max-width: calc((1600px - 5vw) + 50px);
  margin: 0 auto;
  gap: 5px;
  will-change: transform;
  z-index: 3;
  opacity: 1;
  transition: opacity linear 250ms;
  overflow: hidden;
}

.section__hero-main-content {
  position: relative;
  grid-row: 1/13;
  grid-column: 1/13;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  transition: all ease-in-out 500ms;
  text-align: center;
  height: 575px;
  width: 100%;
}
